@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
.landing{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
    font-family:garamond;
}

